<%- include('../includes/head.ejs')%>


<div class="content">
    <h1>Product Details</h1>
    <h3><%= product.name %></h3>
    <h4><%= product.price %></h4>
    <div class="details-main">
        <div class="details-image">
            <img src="<%= product.url %>" alt="<%= product.name %>">
        </div>
        <div class="details-sub">
            <h3>Details:</h3>
            <p><%= product.details %></p>
            <button class="btn-cart">Add to Cart</button>
        </div>
    </div>
    


</div>

<%- include('../includes/end.ejs')%> 

